:root{
    /* Primary */
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    /* Neutral */
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    --fontsize: 15px;

    --fontfamily: 'League Spartan', sans-serif; /*400 500 700 */
}

body{
    background: url(/img/bg-pattern-top-mobile.svg) no-repeat,
    url(/img/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    font-size: var(--fontsize);
    font-family: var(--fontfamily);
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    width: 85%;
}
.header,
.main-aside{
    text-align: center;
}
h1{
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    font-size: 2.8em;
    line-height: .8;
}
.header p{
    color: var(--DarkGrayishMagenta);
    line-height: 1.5;
}
.main-aside{
    margin-top: 3em;
}
.div-rate{
    background-color: var(--LightGrayishMagenta);
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    border-radius: .5em;
    margin: 1em 0;
    padding: .1em 0;
    line-height: .5;
}
.div-rate img{
    padding-top: 1em;
}
/*card*/
.card-all{
    background-color: var(--VeryDarkMagenta);
    border-radius: .8em;
    height: 245px;
    margin-bottom: 1.1em;
}
.margin-card{
    margin-top: 3em;
}
.card{
    display: flex;
    padding: 2.5em 0 0 2em;
}
.card img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1.5em;
}
.text-name h2{
    margin: 0;
    color: var(--White);
    font-weight: 400;
}
.text-name p{
    margin: 0;
    color: var(--SoftPink);
}
.card-all > p{
    color: var(--White);
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    margin: 1.5em 2em 0 2em;
}
/*fin card*/
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  @media (min-width: 769px) {
    body{
        background: url(/img/bg-pattern-top-desktop.svg) no-repeat,
        url(/img/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
        min-width: 1076px;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-content: center;
    }
    .main-cards{
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        display: flex;
        margin-top: 0;
    }
    .card2{
        margin: 2rem 1rem 0 1rem;
    }
    .card3{
        margin: 3rem 0rem 0 0rem;
    }
    .main-aside{
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        margin-top: 0;
        place-self: center;
    }
    .div-rate{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-rate img{
        padding-top: 0;
    }
    .star{
       padding: .2em;
    }
    .star + p{
        margin-left: 1em;
     }
    .rate1{
        width: 400px;
        margin-left:  1em;
    }
    .rate2{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .rate3{
        width: 400px;
        margin-left:  6em;
    }
    .header,
.main-aside{
    text-align: start
}
  }